html {
  scroll-behavior: smooth;
}

section h2 {
  letter-spacing: 2px;
  text-align: center;
  width: auto;
}

.work-page-content-wrapper h2 {
  text-align: left;
}

h2.h2-small {
  /* margin: 50px 0; */
  max-width: 850px;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  section {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 650px) {
  h2.h2-small {
    font-size: 1.5em;
  }
}

.parallax {
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .flex-mobile {
    flex-direction: column;
  }
}

@media screen and (min-width: 701px) {
  .right {
    padding-left: 15px;
  }

  .left {
    padding-right: 15px;
  }
}

/* btns */
.intro.btn-wrapper-hireme {
  padding: 0;
  border-radius: 10px;
}

.btn-wrapper-hireme {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  text-align: center;
}

.btn-wrapper-hireme .btn {
  background-color: var(--heading-color);
  border: 2px solid var(--primary-color);
  color: var(--footer-bg-font-color);
  font-weight: 900;
  border-width: 3px;
  text-decoration: none;
}

.btn-wrapper-hireme .btn:hover
/* .service-active .btn */ {
  background-color: var(--primary-color);
  color: var(--text-font-color);
  border-color: var(--hover-font-color);
}

body[data-theme="light"] .btn-wrapper-hireme .btn {
  background-color: var(--text-font-color);
  color: var(--primary-color);
  border-color: var(--heading-color);
}

body[data-theme="light"] .btn-wrapper-hireme .btn:hover {
  background-color: var(--primary-color);
  color: var(--text-font-color);
  border-color: var(--text-font-color);
}

@media screen and (max-width: 700px) {
  .intro.btn-wrapper-hireme {
    display: flex;
    justify-content: center;
    margin: 0 auto !important;
  }

  .btn-wrapper-hireme {
    padding: 25px 0;
  }
}

/* INTRO */

body[data-theme="light"] .intro-background-wrapper {
  background-image: url("imgs/hero_bg_pink.jpg");
}

body[data-theme="dark"] .intro-background-wrapper {
  background-image: url("imgs/hero_bg_teal.jpg");
}

body[data-theme="green"] .intro-background-wrapper {
  background-image: url("imgs/hero_bg_green.jpg");
}

.intro-background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 50px 0;
  text-align: right;
  height: 90vh;
}

#pricing-page-body .intro-background-wrapper {
  height: auto;
}

.intro-wrapper {
  min-height: auto;
  max-width: 1700px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.intro {
  margin: 0;
  width: 100%;
  padding-right: 80px;
  background-color: transparent !important;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.intro .btn-wrapper-hireme {
  padding: 10px 0 30px;
}

.intro h5 {
  margin: 10px 0;
}

.intro h4 {
  margin-top: 5px;
}

.intro h2 {
  font-size: 4em;
  font-family: "Biryani", sans-serif;
  line-height: 1;
  float: right;
  width: 80%;
  padding: 20px 0 0 0;
  text-align: right;
}

#pricing-page-body .intro h2 {
  font-family: "Poiret One", sans-serif;
  font-size: 5em;
}

#pricing-page-body .btn-wrapper-hireme {
  padding: 32px 0;
}

.intro h1 {
  margin: 5px 0 5px;
  letter-spacing: 8px;
  font-size: 3.75em;
  font-weight: 100;
}

body[data-theme="light"] .intro {
  background-color: var(--primary-color);
}

@media screen and (max-width: 700px) {
  .intro {
    padding-right: 0;
    width: 80%;
    margin: 0 auto;
  }
  .intro h1 {
    font-size: 3em;
    width: 100%;
  }
  .intro {
    padding-left: 0;
  }
  .intro-wrapper {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .intro h1 {
    font-size: 2em;
    letter-spacing: 6px;
  }

  .intro h2 {
    font-size: 2.5em;
  }

  #pricing-page-body .intro h2 {
    font-size: 3em;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    max-width: 100%;
  }
}

/* typewriter */

.typewriter-text-wrapper {
  position: relative;
}

.typewriter-section .tagline {
  position: absolute;
  top: -225px;
  /* font-size: 16px;
  line-height: 28px; */
}

.typewriter-section {
  margin: 0 20vw;
}

.typewriter-section .tagline {
  font-size: 36px;
  line-height: 50px;
}

.typewriter-section h1 {
  text-align: center;
  margin-top: 200px;
}

.typewriter-section .btn-wrapper-hireme {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .typewriter-text-wrapper {
    position: relative;
  }

  .typewriter-section .tagline {
    position: absolute;
    top: -125px;
    font-size: 16px;
    line-height: 28px;
  }

  .typewriter-section h1 {
    margin-top: 110px;
  }

  .typewriter-section {
    margin: 0;
  }
}

/* intro blurb */

#introBlurb .btn-wrapper-hireme:first-of-type {
  padding-right: 50px;
}

#introBlurb .btn-wrapper-hireme:last-of-type {
  padding-left: 50px;
}

@media screen and (max-width: 700px) {
  #introBlurb .btn-wrapper-hireme:first-of-type {
    padding-right: 20px;
  }

  #introBlurb .btn-wrapper-hireme:last-of-type {
    padding-left: 20px;
  }
}

/* Services Section */
#services {
  padding-right: 45px;
}

#services .image-text-block,
#services .image-block {
  padding: 0;
}

#pricing i {
  font-size: 2.5rem;
}

#services h3,
#pricing h3 {
  letter-spacing: 0.75px;
}

#services .appear-on-scroll,
#myWork .appear-on-scroll,
#why .appear-on-scroll {
  max-width: fit-content;
}

#services .btn-wrapper-hireme {
  padding-top: 20px;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 7px;
}

.services-wrapper p {
  letter-spacing: 0.75px;
  font-weight: 200;
  border: 1px solid;
  padding: 15px 10px 10px 10px;
  margin: 8px;
  border-radius: 15px;
}

@media screen and (max-width: 980px) {
  .services-wrapper p {
    padding: 9px 9px 5px 9px !important;
  }

  /* #services .image-block-large .image-block {
    width: 40vw;
  }
 min-height: 700px;
    object-fit: cover;
    object-position: right;
  } */
  #services .text-block {
    width: 55vw;
  }

  #services img {
    height: auto;
  }

  #services .btn-wrapper-hireme {
    padding-bottom: 50px;
  }
  .services-wrapper p {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  #services .text-block {
    width: 90%;
  }
  #services {
    padding-right: 0;
  }

  .services-wrapper p {
    margin: 6px;
  }
}

@media screen and (max-width: 500px) {
  #myWork {
    padding: 30px 20px;
  }
}

/* testimonials */

#testimonialsSection .fa-star {
  color: #ffbe00;
}

#testimonialsSection .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.swiper-wrapper .swiper-slide {
  margin-bottom: 25px; /* Adjust this value as needed */
}

#testimonialsSection .swiper-slide {
  height: 100% !important;
  align-self: center;
  padding: 0 60px;
  text-align: center;
  font-size: 18px;

  /* Center slide content vertically */
  justify-content: center;
  align-items: center;

  width: max-content;
}

#testimonialsSection .swiper-slide-content {
  padding: 40px 20px 20px;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 10000;
}

body[data-theme="light"] .swiper-button-next:after,
body[data-theme="light"] .swiper-button-prev::after {
  color: var(--footer-bg-font-color);
}

body[data-theme="light"] .swiper-pagination-bullet-active {
  background-color: var(--footer-bg-font-color) !important;
}

.swiper-button-next:after,
.swiper-button-prev::after {
  color: var(--heading-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--heading-color) !important;
}

#testimonialsSection .swiper i.fa-comment-dots {
  color: var(--heading-color);
  font-size: 50px;
  position: absolute;
  right: 6px;
  bottom: 80%;
  z-index: -1;
}

#testimonialsSection .swiper-slide p {
  line-height: 1.3;
}

@media screen and (max-width: 767px) {
  #testimonialsSection .swiper-slide {
    width: 100%;
    padding: 0 35px;
  }

  #testimonialsSection .swiper-slide p {
    font-size: 14px;
    line-height: 1.3;
  }

  #testimonialsSection .swiper-slide h3 {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 25px;
  }

  #testimonialsSection .swiper-button-next:after,
  #testimonialsSection .swiper-button-prev::after {
    font-size: 20px !important;
  }

  #testimonialsSection .swiper i.fa-comment-dots {
    right: 2px;
    top: 7px;
  }

  #testimonialsSection {
    padding: 30px 15px;
  }

  #testimonialsSection .swiper-slide-content {
    padding: 10px 5px 0;
  }
}

/* who am I */

.who-am-i-wrapper .flex {
  align-items: center;
}

.who-am-i-wrapper h2 {
  padding-bottom: 20px;
}

.who-am-i-img {
  width: -webkit-fill-available;
}

.who-am-i-img-wrapper {
  width: 40%;
}

.who-am-i-text-wrapper {
  padding-left: 40px;
}

.flex-reverse .who-am-i-text-wrapper {
  padding-right: 40px;
}

.border-top-left:after,
.border-top-right:after {
  height: 45%;
}

@media screen and (max-width: 700px) {
  .who-am-i-text-wrapper {
    padding: 10px 0 0 0;
  }
  .who-am-i-img-wrapper {
    padding-top: 15px;
    width: 88%;
  }
  .flex-reverse .who-am-i-text-wrapper {
    padding-right: 0px;
  }
  .border-top-left:after,
  .border-top-right:after {
    top: -8px;
  }
}

/* stats */

#stats .flex.flex-wrap {
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

.stat {
  padding: 0 20px;
}

.stat h1 {
  padding-right: 8px;
  margin: 9px 0;
}

@media screen and (max-width700px) {
  #stats .flex.flex-wrap {
    width: 90%;
  }
}

/* FAQ */

.accordion button {
  background-color: transparent;
  color: var(--heading-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion button.active,
.accordion button:hover {
  background-color: var(--footer-bg-font-color);
  color: var(--heading-color);
}

body[data-theme="light"] .accordion button.active,
body[data-theme="light"] .accordion button:hover {
  color: var(--primary-color);
}

.accordion .flex {
  justify-content: space-between;
}

.panel-wrapper {
  border-bottom: 1px solid var(--footer-bg-font-color);
}

.panel {
  padding: 0 18px;
  background-color: var(--primary-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* contact section */

#contact a:not(.btn) {
  color: var(--heading-color);
}

#contact a:not(.btn):hover {
  color: var(--text-font-color);
}

#contact .tagline {
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #contact .tagline {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 30px;
  }
}

/* contact page */

#contact-page-body h2,
.h2 {
  font-size: 50px;
}

#contact-page-body section:first-of-type {
  margin-top: 20px;
}

#contact-page-body .main-content {
  text-align: center;
}

/* icons and nav*/

@media screen and (max-width: 1000px) {
  #hire-me-page-body #icons,
  #pricing-page-body #icons {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  #hire-me-page-body #rotate-email,
  #pricing-page-body #rotate-email {
    transform: none;
    font-size: 13px;
    padding-left: 5px;
  }

  #hire-me-page-body .rotate-email-container .tooltiptext,
  #pricing-page-body .rotate-email-container .tooltiptext {
    top: -30%;
    left: 24%;
  }

  #hire-me-page-body .rotate-email-container,
  #pricing-page-body .rotate-email-container {
    bottom: 0;
    z-index: 1;
    right: 0;
    top: auto;
    width: 100%;
    background: var(--hover-font-color-less-op);
    padding: 10px;
  }

  #hire-me-page-body .socials-container,
  #pricing-page-body .socials-container {
    z-index: 9000;
    bottom: 0;
    justify-content: space-between;
    width: 40%;
    margin: 3px 39%;
    flex-direction: row;
    top: auto;
  }

  #hire-me-page-body .footer-wrapper,
  #pricing-page-body .footer-wrapper {
    padding-bottom: 85px;
  }
}

/* cards */

p.card-text {
  margin-bottom: auto;
}

@media screen and (max-width: 700px) {
  .card {
    padding: 40px 25px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    padding: 20px 10px;
  }
}

/* footer */

#footer-hireme-contact.footer {
  padding: 0;
}

#footer-hireme-contact .footer-wrapper {
  display: flex;
  width: 100%;
  padding: 20px 30px 20px 45px;
}

#footer-hireme-contact .footer-grid-wrapper {
  width: 60vw;
  position: relative;
}

#footer-hireme-contact .footer-grid {
  bottom: 0;
  max-width: 700px;
  height: 100%;
  max-height: 375px;
  padding-top: 25px;
  padding-right: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.75fr 0.75fr 1fr;
  grid-template-areas:
    " footer-links-b footer-links-a"
    "footer-buttons footer-buttons"
    "socials-container-footer socials-container-footer "
    "footer-made-by footer-made-by  ";
}

#footer-hireme-contact .footer-links-a {
  grid-area: footer-links-a;
}

#footer-hireme-contact .footer-links-b {
  grid-area: footer-links-b;
}

#footer-hireme-contact .footer-links-a,
#footer-hireme-contact .footer-links-b {
  display: flex;
  flex-direction: column;
}

#footer-hireme-contact .footer-buttons {
  grid-area: footer-buttons;
  text-align: left;
  display: flex;
  padding: 25px 0 15px;
  justify-content: space-evenly;
  flex-direction: column;
}

#footer-hireme-contact .footer-buttons .btn {
  font-weight: 800;
  letter-spacing: 0.8px;
  padding: 9px 12px 5px 12px;
  font-size: 16px;
  text-decoration: none;
}

#footer-hireme-contact .footer-made-by {
  grid-area: footer-made-by;
  text-align: left;
  width: 80% !important;
  margin-left: 0;
  align-self: self-end;
}

#footer-hireme-contact .footer-not-homepage {
  text-decoration: none;
}

#footer-hireme-contact .socials-container-footer {
  flex-wrap: nowrap;
  justify-content: space-between;
  grid-area: socials-container-footer;
  align-self: end;
  padding: 0;
}

#footer-hireme-contact.footer p {
  width: 100%;
}

#footer-hireme-contact .socials-container-footer a {
  margin: 0;
}

#footer-hireme-contact .socials-container-footer i {
  font-size: 1.8em;
}

#footer-hireme-contact h4 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 1px 0;
  text-align: left;
}

#footer-hireme-contact .footer-link {
  text-underline-offset: 3px;
}

body[data-theme="green"] #footer-hireme-contact .footer-btn-wrapper .btn {
  background-color: var(--primary-color);
  border-color: var(--heading-color);
}

body[data-theme="green"] #footer-hireme-contact .footer-btn-wrapper .btn:hover {
  background-color: var(--heading-color);
}

@media screen and (max-width: 1400px) {
  #hire-me-page-body .footer-grid-wrapper,
  #pricing-page-body .footer-grid-wrapper {
    align-self: auto;
  }
}

@media screen and (max-width: 1060px) {
  #hire-me-page-body .footer-links-a h4,
  #pricing-page-body .footer-links-a h4,
  #hire-me-page-body .footer-links-b h4,
  #pricing-page-body .footer-links-b h4 {
    font-size: 15px;
  }

  #hire-me-page-body .socials-container-footer a i,
  #pricing-page-body .socials-container-footer a i {
    font-size: 1.5em;
  }

  #footer-hireme-contact .footer-buttons .btn,
  #pricing-page-body .footer-buttons .btn {
    font-size: 15px;
  }
}

@media screen and (max-width: 870px) {
  #footer-hireme-contact .footer-grid-wrapper {
    width: 60vw;
    position: inherit;
  }

  #footer-hireme-contact .footer-grid {
    position: inherit;
  }

  #footer-hireme-contact .footer-buttons {
    margin-right: 2px;
  }
}

@media screen and (max-width: 700px) {
  #footer-hireme-contact .footer-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 2fr 1fr 1fr 1fr;
    padding-right: 0;
    grid-template-areas:
      "footer-links-b footer-links-a"
      "footer-buttons footer-buttons"
      "socials-container-footer socials-container-footer"
      ". ."
      "footer-made-by footer-made-by";
  }

  #footer-hireme-contact .footer-wrapper {
    padding: 20px 50px 80px;
    /* flex-direction: column-reverse; */
    flex-direction: row;
  }

  #footer-hireme-contact h4 {
    font-size: 14px;
    margin-right: 10px;
  }

  #footer-hireme-contact .brand-logo {
    width: 100%;
  }

  #footer-hireme-contact .footer-grid-wrapper {
    width: 100%;
  }

  #footer-hireme-contact .footer-buttons {
    padding: 0;
  }

  #footer-hireme-contact .footer-made-by {
    width: 100% !important;
  }

  #footer-hireme-contact .brand-logo {
    width: 40%;
  }

  #footer-hireme-contact .footer-grid-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  #footer-hireme-contact .footer-wrapper {
    flex-direction: column-reverse;
  }

  #footer-hireme-contact .brand-logo {
    width: 100%;
  }

  #footer-hireme-contact .footer-grid-wrapper {
    width: 100%;
  }

  #footer-hireme-contact .footer-btn-wrapper .btn {
    font-size: 14px;
  }
}

/* SLIDESHOW PRICING */

#slideshowSection {
  padding-top: 15px;
}

.slideshow-container .flex ul {
  width: 100%;
  text-align: left;
  padding-left: 15px;
  margin: 0;
}
#hire-me-page-body .slideshow-container .flex ul li {
  padding-bottom: 10px;
}

.slideshow-container .card {
  width: 65vw;
}

body[data-theme="dark"] .slideshow-container .card {
  background-color: var(--hover-font-color-op);
}
body[data-theme="green"] .slideshow-container .card {
  background-color: var(--footer-bg-font-color);
}

/* body[data-theme="dark"] .slideshow-container .card:hover,
body[data-theme="green"] .slideshow-container .card:hover,
.service-active {
  background-color: var(--primary-color);
} */

.slideshow-container h1 {
  text-align: center;
  padding-top: 20px;
}

.slideshow-container p {
  text-align: left;
  margin: 0;
}

.slideshow-container .tagline,
#services .tagline {
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.slideshow-container h2 {
  padding: 20px 0;
}

.slideshow-container p {
  padding-top: 12px;
}

@media screen and (max-width: 500px) {
  .slideshow-container h1 {
    font-size: 25px;
  }

  .slideshow-container h2 {
    font-size: 2.3em;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slideshow,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  .card {
    padding: 20px 10px;
  }

  .slideshow-container .card {
    width: 100%;
    padding: 20px;
  }
}

/* image text blocks */
.image-text-block {
  padding-top: 20px;
}

.image-text-block .image-block,
.image-text-block .text-block {
  width: 45vw;
  align-self: center;
}

.image-text-block-rev .image-block {
  padding-right: 30px;
}

.image-text-block-not-rev .image-block {
  padding-left: 30px;
}

.image-text-block .image-block img {
  width: 100%;
}

.image-block-large .image-block {
  width: 60vw;
}

@media screen and (max-width: 980px) {
  .image-block-large .image-block {
    width: 50vw;
  }
}

#why {
  padding: 0 65px 0 0;
}

#why .image-text-block {
  padding: 0;
}
@media screen and (max-width: 700px) {
  .image-text-block {
    flex-direction: column;
    padding-top: 10px;
  }
  .image-text-block.image-text-block-rev {
    flex-direction: column-reverse;
  }

  .image-text-block .image-block,
  .image-text-block .text-block {
    width: 100%;
  }

  .image-text-block .image-block {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-text-block .text-block p:last-of-type {
    padding-bottom: 15px;
  }
}

/* screenshots from text */
#reviewScreenshots {
  padding-top: 20px;
}

#reviewScreenshots img {
  border-radius: 15px;
}

#reviewScreenshots .img-wrapper {
  padding: 7px;
}

#reviewScreenshots .flex {
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
  #reviewScreenshots .img-wrapper {
    width: 68%;
    padding-top: 15px;
  }

  #reviewScreenshots img {
    width: 100%;
  }
}

/* my work */

.swiper-work {
  padding-top: 15px;
}

.swiper-work img {
  width: 100%;
}

.swiper-work .swiper-button-next,
.swiper-work .swiper-button-prev {
  top: 60px;
}

@media screen and (max-width: 700px) {
  .swiper-work .swiper-button-next,
  .swiper-work .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .swiper-work .swiper-button-next,
  .swiper-work .swiper-button-prev {
    display: inherit;
    top: 50%;
  }
}

/* below is from the cards - prev version of work section */

.work-menu {
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 10px;
}

.work-menu li {
  list-style: none;
  padding: 7px 12px;
}

.work-wrapper .card {
  margin: 10px;
  width: 30%;
  padding: 15px;
}
.work-wrapper .card img {
  width: 100%;
}

.work-wrapper .card p.card-text {
  text-align: left;
}

.work-img-tags-wrapper {
  position: relative;
}

.work-tags {
  position: absolute;
  bottom: 8px;
  left: 5px;
  flex-wrap: wrap-reverse;
}

.work-tags .btn {
  padding: 5px 9px 2px 9px;
  font-size: 16px;
  margin: 0 8px 8px 0;
  color: white;
  background: var(--hover-font-color-less-op);
}

@media screen and (max-width: 1200px) {
  .work-tags .btn {
    font-size: 14px;
    padding: 4px 7px 0px 7px;
  }
}
@media screen and (max-width: 600px) {
  .work-tags .btn {
    padding: 3px 5px 0px 5px;
    font-size: 12px;
    margin: 0 5px 5px 0;
  }
}

div.card-text-wrapper .work-tags .btn:hover {
  cursor: auto;
}

a.card-text-wrapper {
  text-decoration: none;
}

.card-text-wrapper h3 {
  letter-spacing: 1.5px;
  line-height: 1.35;
  margin: 10px 0;
}

.card-text-wrapper p {
  line-height: 1.35;
}

.card-text-wrapper .card-description {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.card-text-wrapper .card-description p {
  margin: 0;
  /* justify-content: space-evenly; */
}

.services-card-wrapper {
  flex-wrap: wrap;
}

.services-card-wrapper .card {
  width: 38vw;
  margin-top: 25px;
}

@media screen and (max-width: 880px) {
  .services-card-wrapper .card {
    width: 32vw;
  }
  #pricing-page-body .card-wrapper {
    flex-wrap: wrap;
  }
  #pricing-page-body .card-wrapper .card {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .services-card-wrapper .card {
    width: 80vw;
  }
}

@media screen and (max-width: 1365px) {
  .work-wrapper .card {
    width: 28%;
  }
}

@media screen and (max-width: 909px) {
  .work-wrapper .card {
    width: 42%;
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .card-wrapper {
    flex-direction: row;
  }
  .work-wrapper .card {
    width: 42vw;
  }
}

@media screen and (max-width: 500px) {
  #myWork {
    padding: 30px 10px;
  }
  .work-wrapper .card {
    margin: 10px 0px;
    width: 100%;
  }
}
