* {
  box-sizing: border-box;
  /* font-family: "Merriweather", serif;
   */
  font-family: "Biryani", sans-serif;

  /*font-family: Arial, Helvetica, sans-serif;*/
}

body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  /* font-family: "Merriweather", serif; */
  font-family: "Biryani", sans-serif;

  background-color: var(--primary-color);
  color: var(--text-font-color);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--hover-font-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-font-color);
  border-radius: 10px;
  border: 1px solid var(--heading-color);
}

.alt-font {
  font-family: "Poiret One", cursive;
}

.alt-font-biryani {
  font-family: "Biryani", sans-serif;
}

/*light dark transition*/
body[data-theme],
div,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 button,
span,
section {
  transition: 500ms;
}

h1,
.h1 {
  color: var(--heading-color);
  font-family: "Poiret One", cursive;
}

h2,
.h2 {
  font-size: 65px;
  font-weight: 400;
  margin: 0;
  font-family: "Poiret One", cursive;
}

.h2-small {
  font-size: 2.5em;
}

h2,
h3,
.h2,
.h3 {
  color: var(--heading-color);
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.xlarge {
  font-size: 5em;
}

@media screen and (max-width: 500px) {
  .xlarge {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 700px) {
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
}

body[data-theme="light"] .intro h2 {
  color: var(--text-font-color);
}

body[data-theme="light"] .intro h4,
body[data-theme="light"] .intro h5 {
  color: var(--heading-color);
}

.tagline {
  /* font-family: "Monserrat", "Merriweather", serif; */
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 30px;
}

.btn {
  border: none;
  outline: none;
  background-color: var(--hover-font-color-op);
  border: 2px solid var(--primary-color);
  color: var(--text-font-color);
  cursor: pointer;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  font-size: 18px;
}

.btn:hover {
  background-color: var(--heading-color);
}

.light {
  color: var(--heading-color);
}

.dark {
  color: var(--text-font-color);
}

.fixedBtn {
  display: none;
  position: fixed;
  z-index: 99;
  /* background-color: var(--hover-font-color-op);
    border: 2px solid var(--primary-color); */
}

.fixedBtn:hover {
  background-color: var(--text-font-color);
  color: var(--primary-color);
}

.fixedBtn:hover i {
  background-color: transparent;
  color: var(--primary-color);
}

.fixedBtn .btn {
  background-color: transparent;
}

#topBtn {
  bottom: 20px;
  right: 30px;
}

#homeBtn {
  display: block;
  top: 5px;
  left: 5px;
}

#homeBtn .fa-solid {
  border: none;
}

@media screen and (max-width: 700px) {
  .btn {
    font-size: 16px;
    padding: 10px;
  }
  #topBtn {
    bottom: 13px;
    right: 13px;
  }
}
.socials-container {
  position: fixed;
  z-index: 9000;
  left: 20px;
  top: 48%;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
}

.socials-container i {
  font-size: 20px;
  margin-bottom: 20px;
}

.socials-container .socialsTooltiptext {
  visibility: hidden;
  width: 150px;
  font-size: 12px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 115px;
  left: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}

.resumeSocial:hover .socialsTooltiptext {
  visibility: visible;
  opacity: 1;
}

.rotate-email-container {
  animation: slide-left 2s ease-out;
  position: fixed;
  z-index: 9000;
  right: -55px;
  top: 56%;
}

.rotate-email-container:hover #rotate-email {
  cursor: pointer;
}

#rotate-email {
  transform: rotate(90deg);
  padding-bottom: 2px;
}

.rotate-email-container .tooltiptext {
  visibility: hidden;
  width: 130px;
  font-size: 12px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 57%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.rotate-email-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.border-top-right {
  position: relative;
  margin: 20px;
}

.border-top-right:after {
  display: block;
  content: "";
  width: 45%;
  height: 75%;
  position: absolute;
  top: -20px;
  left: -20px;
  border-top: 3px solid var(--text-font-color);
  border-left: 3px solid var(--text-font-color);
}

.border-top-left {
  position: relative;
  margin: 20px;
}

.border-top-left:after {
  display: block;
  content: "";
  width: 45%;
  height: 75%;
  position: absolute;
  top: -20px;
  right: -20px;
  border-top: 3px solid var(--text-font-color);
  border-right: 3px solid var(--text-font-color);
}

/* LOADER */

#loader-wrapper {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.loader {
  transform: translate(-50%, -50%);
  top: 35%;
  color: var(--text-font-color);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.brand-logo {
  width: 40vw;
  margin-right: auto;
  display: flex;
  height: fit-content;
  height: -webkit-fill-available;
  align-self: center;
}

/* ---------------- */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-rows {
  flex-direction: row;
}

.flex-cols {
  flex-direction: column;
}

.one-third {
  width: 33% !important;
}

.two-thirds {
  width: 67% !important;
}

#about .flex {
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portrait-img-wrapper {
    text-align: center;
  }
}

.fa-solid {
  padding: 0;
}

.topnav {
  overflow: hidden;
  justify-content: right;
}

.topnav a {
  color: var(--text-font-color);
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:not(.hire-me):hover {
  background-color: var(--primary-color);
  color: var(--hover-font-color);
}

.topnav .hire-me {
  background-color: var(--text-font-color);
  color: var(--primary-color);
  margin: 7px;
  padding: 7px 7px 4px 7px;
}

.topnav .hire-me:hover {
  background-color: var(--heading-color);
}

/* #hire-me-page-body .topnav .hire-me { display: none; } */

@media screen and (max-width: 700px) {
  .topnav {
    justify-content: space-around;
    align-items: center;
    padding: 8px 0 8px 10px;
  }
  .topnav a {
    font-size: 14px;
    padding: 0;
  }
  .topnav .btn {
    padding: 5px;
  }
  .topnav .hire-me {
    margin: 0;
  }
}

.appear-on-scroll {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
  max-width: 1000px;
  margin: 0 auto;
}

.appear-on-scroll.active {
  transform: translateY(0);
  opacity: 1;
}

section {
  overflow: hidden;
  background-color: var(--primary-color);
  padding: 65px;
}

section h1 {
  margin-top: 0;
}

section h2,
section .h2 {
  width: fit-content;
  border-radius: 20px;
}

section p,
section .p,
section p a,
section .p a,
.socials-container a,
.link-no-styling {
  /* background: var(--primary-color); */
  color: var(--text-font-color);
}

section p a:hover,
section .p a:hover,
.link-no-styling:hover {
  color: var(--heading-color);
}

@media screen and (max-width: 700px) {
  section {
    padding: 30px 45px 30px 60px;
  }
}

/*------------------------------------------*/

@media screen and (min-width: 699px) {
  .media-show {
    display: none !important;
  }

  .media-hide {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .media-show {
    display: block;
  }

  .media-hide {
    display: none !important;
  }
}

.portrait-img {
  height: 35vh;
  border-radius: 50px;
  border: 10px solid;
  margin-left: 30px;
}

@media screen and (max-width: 700px) {
  #about .flex {
    flex-direction: column-reverse;
  }
  .portrait-img {
    height: 30vh;
    margin: 20px 0 30px;
  }
}

.hide-loader-functionality {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.hide {
  display: none !important;
  transition: 500ms;
}

.flex.format-flex div div {
  width: 100% !important;
}

.flex.flex.format-flex div:first-of-type,
.flex ul:first-of-type {
  width: 30%;
}

.flex.flex.format-flex div:nth-child(2),
.flex ul:nth-child(2) {
  width: 70%;
}

.flex.flex.format-flex ul li,
.project-title {
  border-top: 2px solid;
  display: flex;
  font-size: 80px;
  font-family: "Poiret One", cursive;
  font-size: clamp(40px, 5.6vw, 50px);
  letter-spacing: -2px;
  line-height: calc(90 / 80);
  cursor: pointer;
  padding: 14px 0 40px;
  transition: 0.15s opacity;
  color: var(--text-font-color);
}

.project-title {
  border-top: none;
  display: block;
  margin: 0;
  font-size: clamp(30px, 3vw, 45px);
  font-weight: 500;
  padding-bottom: 20px;
}

.project-subtitle {
  font-size: clamp(20px, 2.5vw, 30px);
  margin-top: 0;
}

.flex.flex.format-flex ul a,
.link-no-styling {
  text-decoration: none;
}

.flex.format-flex img {
  width: inherit;
}

@media screen and (max-width: 700px) {
  .flex.format-flex {
    height: auto;
  }
  .flex.format-flex .scroll-div {
    display: none;
  }
  .flex.format-flex ul {
    width: 100%;
    padding: 0px;
  }
  .flex.flex.format-flex ul li {
    font-size: clamp(30px, 5.6vw, 80px);
    padding: 8px 0 25px;
  }
}

.scroll-wrapper {
  display: flex;
  height: 510px;
  overflow: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0 10px;
  text-align: center;
  padding: 20px;
  width: 28vw;
  background-color: var(--hover-font-color-op);
}

.card:hover,
.service-active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--hover-font-color-less-op);
}

#volunteer .card:hover {
  background-color: var(--hover-font-color-op);
}

.card-wrapper {
  padding: 2px 16px;
  justify-content: space-around;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-link {
  display: grid;
  height: 100%;
  align-content: space-between;
}

@media screen and (max-width: 700px) {
  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width: inherit;
    padding: 0 10px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 450px) {
  .card {
    margin: 0;
  }

  .card-wrapper {
    padding: 0;
  }
}

.scroll-div {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100%;
}

.main-content section:nth-of-type(odd) {
  background-color: var(--hover-font-color-op);
}

.intro-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 75vh;
}

.intro {
  margin: 70px 70px 100px 150px;
  width: fit-content;
  padding: 20px 30px;
  background: var(--hover-font-color-op);
  border-radius: 50px;
}

.intro h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .intro {
    margin-left: 85px;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 20%;
  }
}

.no-scroll {
  overflow: hidden;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  max-width: -webkit-fill-available;
}

#icons div {
  margin: 0 15px;
}

#icons .fa-brands {
  font-size: 3.5em;
}

#hire-me-page-body #icons {
  justify-content: space-evenly;
  width: 75vw;
}
#icons .flex {
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  #icons {
    margin-top: 75px;
    margin-bottom: 60px;
    max-width: 430px;
    /* margin: 0 auto; */
  }
}
@media screen and (max-width: 700px) {
  #icons {
    max-width: 350px;
    justify-content: space-around;
  }
  #icons .fa-brands {
    font-size: 2em;
  }
}

@media screen and (max-width: 450px) {
  #icons {
    max-width: 230px;
  }
  #icons p {
    font-size: 12px;
  }
}

/* FOOTER */

body[data-theme="light"] .footer h3,
body[data-theme="light"] .socials-container-footer a:hover,
body[data-theme="green"] .footer h3,
body[data-theme="green"] .socials-container-footer a:hover {
  color: var(--text-font-color);
}

body[data-theme="light"] .footer h4,
body[data-theme="green"] .footer h4 {
  color: var(--hover-font-color);
}

body[data-theme="dark"] .footer,
body [data-theme="light"] .socials-container-footer a,
body [data-theme="green"] .socials-container-footer a {
  background-color: var(--text-font-color);
}

body[data-theme="light"] .footer-link,
body[data-theme="green"] .footer-link {
  color: var(--text-font-color);
}

body[data-theme="light"] .footer-link:hover,
body[data-theme="green"] .footer-link:hover {
  color: var(--primary-color);
}

.footer {
  background-color: var(--footer-bg-font-color);
  color: var(--hover-font-color);
  padding: 10px;
  text-align: center;
}

.footer h3,
.footer p {
  color: var(--primary-color);
}

body[data-theme="green"] .footer p {
  color: var(--heading-color);
}

.footer p {
  font-weight: 100;
  letter-spacing: 0.4px;
  margin: 0 auto;
  width: 70%;
}

.footer h3 {
  font-size: 2.5em;
  font-weight: 400;
}

.footer h4,
.socials-container-footer a:hover {
  color: var(--footer-bg-font-color);
}

.footer-wrapper {
  width: 70vw;
  margin: 0 auto;
}

.footer-link {
  color: var(--primary-color);
}

.footer-link:hover {
  color: var(--hover-font-color);
}

.socials-container-footer {
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 5px 0 15px 0;
}

.socials-container-footer a {
  margin: 15px;
  color: var(--hover-font-color);
}

.socials-container-footer a i {
  font-size: 3em;
}

.footer .btn {
  color: var(--primary-color);
}

body[data-theme="green"] .footer .btn {
  color: var(--heading-color);
}

body[data-theme="green"] .footer .btn:hover {
  color: var(--primary-color);
}

/* get resume from correct href based on page you are on */
#index-page-body .resumeSocial.footer-not-homepage,
#index-page-body .footer-btn-wrapper,
#hire-me-page-body .resumeSocial.footer-not-homepage,
#contact-page-body .resumeSocial.footer-not-homepage,
.resumeSocial.resumeSocial.footer-homepage {
  display: none;
}

#index-page-body .resumeSocial.footer-homepage {
  display: block !important;
}

#hire-me-page-body .resumeSocial.footer-homepage {
  display: none !important;
}

.footer .psst {
  color: var(--hover-font-color);
  padding-top: 20px;
  font-size: 14px;
}

.footer .psst .btn {
  padding: 5px 5px 2px 5px;
  border-color: var(--hover-font-color);
  color: var(--hover-font-color);
  margin-left: 10px;
  font-size: 16px;
}

body[data-theme="dark"] .footer .psst .btn {
  background-color: var(--text-font-color);
}

@media screen and (max-width: 800px) {
  .socials-container-footer .resumeSocial {
    width: 60vw;
  }

  .footer p {
    width: 100%;
  }
}
