/* EXPERIENCE PAGES */

.one-quarter {
    width: 25%;
}

.half {
    width: 50%;
}

.three-quarters {
    width: 75%;
}

.full {
    width: 100%;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 67%;
}

.sixty {
    width: 60%;
}

.forty {
    width: 40%;
}



@media screen and (max-width: 700px) {
    .one-quarter, .half, .three-quarters, .one-third, .two-thirds, .sixty, .forty {
        width: 100%;
    }
}



.right {
    /* width: fit-content; */
    float: right;
    padding-left: 60px;
}

.work-page-content-wrapper.no-widescreen {
    max-width: 1500px;
    margin: 0 auto;
}

.work-page-content-wrapper img{
    max-width: 100%;
}

.top-padding {padding-top: 60px;}

@media screen and (max-width: 700px) {
    .work-page-content-wrapper {
        display: flex;
        flex-direction: column;
        padding: 50px 45px 50px 60px;
    }
    .right {
        order: 1;
        padding-left: 0;
        padding-top: 30px;
    }
    .top-padding {
        padding-top: 30px;
    }
}

.text-a {
    grid-area: text-a;
}

.portrait-a {
    grid-area: portrait-a;
}

.portrait-b {
    grid-area: portrait-b;
}

.portrait-c {
    grid-area: portrait-c;
}

.portrait-d {
    grid-area: portrait-d;
}

.portrait-e {
    grid-area: portrait-e;
}

.portrait-f {
    grid-area: portrait-f;
}

.portrait-g {
    grid-area: portrait-g;
}

.landscape-a {
    grid-area: landscape-a;
}
  


.grid {
    display: grid;
    grid-gap: 60px;
}

.grid-two {
    grid-template-columns: 1fr 1fr;
}

.grid-three {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media screen and (max-width: 850px) {
    .grid {
        grid-gap: 30px;
    }
}

@media screen and (max-width: 450px) {
    .grid-two, .grid-three, .grid-four {
        grid-template-columns: 1fr;
    }
    
}


.centered-div {
    text-align: center;
}



#grid-abs {
    grid-template-rows: auto;
    grid-template-areas: 
    "text-a text-a"
    "portrait-a portrait-b"
    "landscape-a landscape-a";
}

#grid-jono {
    grid-template-rows: auto;
    grid-template-areas: 
    "text-a text-a"
    "portrait-a portrait-b"
    "portrait-c portrait-d";
}

#grid-sailthru {
    grid-template-areas: 
    "text-a text-a text-a"
    "portrait-a portrait-b portrait-c"
    "portrait-d portrait-e  portrait-f"
    "portrait-g landscape-a landscape-a";
}


@media screen and (max-width: 450px) {
    #grid-abs {
        grid-template-areas: 
        "text-a"
        "portrait-a"
        "portrait-b"
        "landscape-a";
    }
    #grid-jono {
        grid-template-areas: 
        "text-a"
        "portrait-a"
        "portrait-b"
        "portrait-c"
        "portrait-d";
    }
    #grid-sailthru {
        grid-template-areas: 
        "text-a"
        "portrait-a"
        "portrait-b"
        "portrait-c"
        "portrait-d"
        "portrait-e"
        "portrait-f"
        "portrait-g"
        "landscape-a"
        "landscape-a";
    }

}


@media screen and (max-width: 950px) {
    h2 { font-size: 55px;}
}

@media screen and (max-width: 850px) {
    h2 { font-size: 45px;}
    #grid-shikohin.half {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    h2 {
        font-weight: 600;
        font-size: 28px;
    }
    h1 {
        font-weight: 300;
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
}